@each $key,$var in $colors{
  .mg-btn-#{$key}{
      @include button;
      background-color: $var;
      border: none;
      @if $var != none{
       color:lighten($var,50)
      }

  }
  .mg-btn-sq-#{$key}{
    @include button;
    background-color: $var;
    border: none;
    border-radius: 0px;
    @if $var != none{
     color:lighten($var,50)
    }
  }
  
  @if $var != none{
    .mg-btn-outline-#{$key}{
        @include button;
        border: 1px solid $var;
        color: $var;
        background: none;
       
    }
    .mg-btn-outline-sq-#{$key}{
      @include button;
      border: 1px solid $var;
      color: $var;
      background: none;
      border-radius: 0px;
  }
}

}