.row{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(12,1fr);
    gap: 30px;
    
    @include sm{
      gap: 10px;
    }
    @for $i from 1 through 12{
      .col-#{$i}{
        grid-column: span $i;
        padding: $padding;
      }
    }
    @include md{
   
      @for $i from 1 through 12{
        .col-md-#{$i}{
          grid-column: span $i;
          padding: $padding;
        }
      }
    }
    @include sm{
      @for $i from 1 through 12{
        .col-sm-#{$i}{
          grid-column: span $i;
          padding: $padding;
        }
      }
    }
  }
  .row.align-center{
   place-items: center;
  }