@each $key,$var in $colors {
  .mg-border-#{$key}{
      border-color: $var !important;
  }
  .mg-outline-#{$key}{
    outline-color: $var !important;
  }
}
.mg-outline-transparent{
    outline: none;
}

.mg-show-md{
  display: none;
}
.mg-show-sm{
  display: none;
}

@include md{
.mg-show-md{
  display: block;
}
}
.mg-rounded-pill{
  border-radius: 30px !important;
}