.mg__dashboard-menu{
    position: fixed;
    height: 100%;
    width: 280px;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: max-width ease 0.3s;
    max-width: 100%;
    background-color: map-get($map: $colors, $key:"component" );
    border-right: 1px 1px solid map-get($map: $colors, $key:"grey" );
    .mg__close-side-menu{
        display: none;
        margin-left: auto;
    }
    .brand{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1.2em;
        p{
            font-weight: 600;
            i{
                margin-right: 10px;
            }
        }
    }
    .mg__dashboard-links{
        margin-top: 25px;
        padding: 1.2em;
    }
    .mg__dashboard-link{
        i{
            margin-right: 20px;
        }
        &:hover{
            @extend .mg-text-warning;
        }
        display: block;
        width: 100%;
        height: 40px;
        color: map-get($map: $colors, $key:"grey" );
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
        border-bottom: 1px solid map-get($map: $colors, $key:"disabled" );
      }
    .mg__dashboard-link.active{
        @extend .mg-text-warning;
    }
    .mg__dashboard-settings-link{
        i{
            margin-right: 20px;
        }
        padding: 1.2em;
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        height: 40px;
        color: map-get($map: $colors, $key:"grey" );
        font-weight: 600;
        font-size: 18px;
        border-top:1px solid map-get($map: $colors, $key:"disabled" ) ;
     
    }
    .mg-home-icon{
        display: none;
    }
    @include md{
        .mg__close-side-menu{
            display: block;
        }
        top:unset;
        
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100px;
        .mg__dashboard-links{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: unset;
        }
        .mg__dashboard-link{
            width: 25px;
            border-top: none;
            border-bottom: none;
            margin-bottom: 0;
        }
        .mg__link-text{
            display: none;
        }
        .mg-home-icon{
            display: flex;
        }
    }
    @include sm{
        width: 100%;
        .mg__dashboard-link{
            font-size: 15px;
          }
    }
}
.mg__dashboard-menu.mobile{
    transition: all ease 0.3s;
}
.mg__dashboard-content{
    margin-left: 280px;
    >header{
        margin-top: 20px;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        position: sticky;
        top: 0;
        padding: 10px 0;
        z-index: 100;
        .mg__dashboard-actions{
            display: flex;
        }
        .mg__notification-link{
            margin-right: 20px;
            sup{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                @extend .mg-bg-warning;
                margin-left: -10px;
                margin-top: -10px;
            }
        }
    }
    .mg__open-side-menu{
        display: none;
    }
    @include md{
        margin-left: unset; 
        .mg__open-side-menu{
            display: block;
            cursor: pointer;
        }
    }
}
.mg__pending-investments,.mg__bot-list{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    &::-webkit-scrollbar{
        width: 5px;
        @extend .mg-bg-dark;
        border-radius: 7px;
    }
    &::-webkit-scrollbar-thumb{
        width: 5px;
        border-radius: 7px;
        @extend .mg-bg-warning;
    }
}
.mg__investment{
    min-height: 70px;
    width: 100%;
    margin-top: 10px;
    padding: $padding * 0.2  $padding;
    .mg__investment-desc{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.mg__percentage-profit{
    width: 80%;
    display: grid;
    margin: 10px auto;
    place-items:  center;
}

.mg__payment-list{
    width: 95%;
    margin: $margin auto;
    padding: 0;
    max-height: 50vh;
    overflow-y: auto;
    padding-block-start: 0;
    list-style: none;
    &::-webkit-scrollbar{
        width: 5px;
        @extend .mg-bg-dark;
        border-radius: 7px;
    }
    &::-webkit-scrollbar-thumb{
        width: 5px;
        border-radius: 7px;
        @extend .mg-bg-warning;
    }
    li{
        border-bottom: 0.5px solid #303030;
        padding:0.7em 0.5em;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .amount{
            font-size: 22px;
        }
        p{
            font-size: 14px;
        }
    }
    @include md{
        li{
            .amount{
                font-size: 20px;
            }
        }
    }
    @include sm{
        li{
            .amount{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}

.mg__withdrawal-form{
    width: 94%;
    margin: 0.3em auto;
}
.mg__bot-list{
    li{
        padding: 0.3em 0.5em;
        margin-bottom: 10px;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}

.mg__investment-page{
    margin: 1.5em auto;
    padding:0.7em 1.2em;
    max-width: 450px;
}