.mg__dashboard-menu{
    position: fixed;
    height: 100%;
    width: 280px;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: max-width ease 0.3s;
    max-width: 100%;
    background-color: map-get($map: $colors, $key:"component" );
    border-right: 1px 1px solid map-get($map: $colors, $key:"grey" );
    .mg__close-side-menu{
        display: none;
        margin-left: auto;
    }
    .brand{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1.2em;
        p{
            font-weight: 600;
            i{
                margin-right: 10px;
            }
        }
    }
    .mg__dashboard-links{
        margin-top: 25px;
        padding: 1.2em;
    }
    .mg__dashboard-link{
        i{
            margin-right: 20px;
        }
        &:hover{
            @extend .mg-text-warning;
        }
        display: block;
        width: 100%;
        height: 40px;
        color: map-get($map: $colors, $key:"grey" );
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
        border-bottom: 1px solid map-get($map: $colors, $key:"disabled" );
      }
    .mg__dashboard-link.active{
        @extend .mg-text-warning;
    }
    .mg__dashboard-settings-link{
        i{
            margin-right: 20px;
        }
        padding: 1.2em;
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        height: 40px;
        color: map-get($map: $colors, $key:"grey" );
        font-weight: 600;
        font-size: 18px;
        border-top:1px solid map-get($map: $colors, $key:"disabled" ) ;
     
    }
  
    @include md{
        .mg__close-side-menu{
            display: block;
        }
        right: 0;
        transform: translateX(-100%);
        width: 50%;
    }
    @include sm{
        width: 75%;
        .mg__dashboard-link{
            font-size: 15px;
          }
    }
}
.mg__dashboard-menu.mobile{
    transition: all ease 0.3s;
}
.mg__dashboard-content{
    margin-left: 280px;
    >header{
        margin-top: 20px;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        position: sticky;
        top: 0;
        padding: 10px 0;
        .mg__dashboard-actions{
            display: flex;
        }
        .mg__notification-link{
            margin-right: 20px;
            sup{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                @extend .mg-bg-warning;
                margin-left: -10px;
                margin-top: -10px;
            }
        }
    }
    .mg__open-side-menu{
        display: none;
    }
    @include md{
        margin-left: unset; 
        .mg__open-side-menu{
            display: block;
            cursor: pointer;
        }
    }
}
