@mixin md {
    @media screen and (max-width:map-get($break_points,"md")) {
        @content;
    }
};
@mixin  sm {
    @media screen and (max-width:map-get($break_points,"sm")) {
        @content;
    }
};
@mixin  button($btn_p:$padding,$btn_h:42px) {
    outline: none;
    min-height: $btn_h;
    padding:0 $btn_p ;
    display: grid;
    place-items: center;
    border-radius:$border_radius;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
@mixin layout() {
    @extend .mg-bg-dark;
    width: 100%;
    min-height: 100vh;
}
